.box{
    width: 100px;
    height: 200px;
    border: 2px solid;

}
#first{
background-color: red;
display: inline-block;
margin-left: 100px;
margin-right: 200px;
margin-top: 100px;
}
#second{
    background-color: yellow;
    display: inline block;
    margin: 2px;
    margin-right: 200px;
    margin-left: 100px;
}
#third{
    background-color: green;
    display: inline block;
    margin:2px;
    margin-left: 100px;
    margin-right: 200px;
    
}

